# Python
.venv/
__pycache__/
*.pyc

# React
frontend/node_modules/
frontend/build/

# VS Code
.vscode/

# Environment Variables
.env
backend/.env

# Database Export Files
Exported db/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

*.sql